* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    font-family: "Arial", "Helvetica", sans-serif;
}

.nav-bar {
    background-color: #0b0f19;
    display: flex;
    height: 64px;
    justify-content: space-between;
    padding: 12px;
}

.nav-bar img {
    height: 100%;
}

.nav-links {
    display: flex;
    gap: 12px;
    align-items: center;
}

.nav-links a {
    text-decoration: none;
    color: white;
}

.nav-links a:hover {
    color: #d9b800;
}



/* Seção de Cards Responsivo */

.section-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    padding: 16px;
}

.section-card {
    width: 320px;
    display: flex;
    padding: 16px;
    gap: 16px;
    background-color: wheat;
    border-radius: 7px;
}

.section-card img {
    width: 120px;
    border-radius: 7px;
}

.section-card p {
    font-size: 1rem;
    text-align: justify;
}
