/* pagina contatos */

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    /* Faz com que o corpo da página ocupe toda a largura */
    width: 100%;
    /* Faz com que o corpo da página ocupe toda a altura */
    height: 100%;
}

header {
    background-color: #f0f0f0;
    padding: 20px;
}

/* Estilização da barra de navegação */
nav {
    background-color: #f8f9fa;
    /* Um cinza claro para o fundo, pode ser ajustado ou removido */
    padding: 10px 20px;
    /* Ajuste conforme necessário */
}

nav ul {
    display: flex;
    /* Alinha os itens da lista horizontalmente */
    justify-content: center;
    /* Centraliza os itens da lista */
    align-items: center;
    /* Alinha os itens verticalmente */
}

nav li {
    margin: 0 15px;
    /* Espaçamento entre os itens */
    list-style-type: none;
    /* remover os dotted */
}

nav a {
    text-decoration: none;
    /* Remove o sublinhado */
    color: #007bff;
    /* Cor azul para os links */
    font-weight: bold;
    /* Deixa o texto em negrito */
}

nav a:hover {
    color: #0056b3;
    /* Cor mais escura ao passar o mouse */
    text-decoration: underline;
    /* Adiciona sublinhado ao passar o mouse */
}

main {
    max-width: 960px;
    /* Largura máxima para centralizar o conteúdo */
    margin: 0 auto;
    /* Centraliza o conteúdo horizontalmente */
}

/* Reset básico para ul e li */
ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}



#contato {
    background-color: #f0f0f0;
    /* Fundo cinza claro */
    padding: 20px;
    /* Espaçamento interno */
    margin: 20px 0;
    /* Espaçamento externo */
    border-radius: 8px;
    /* Bordas arredondadas */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Sombra sutil */
}

#contato h2 {
    color: #333;
    /* Cor escura para o texto */
    margin-bottom: 15px;
    /* Espaçamento abaixo do título */
}

#contato p {
    color: #666;
    /* Cor mais clara para o parágrafo */
    margin-bottom: 20px;
    /* Espaçamento antes do botão */
}

#contato button {
    background-color: #007bff;
    /* Fundo azul */
    color: white;
    /* Texto branco */
    border: none;
    /* Sem borda */
    padding: 10px 20px;
    /* Espaçamento interno */
    border-radius: 5px;
    /* Bordas arredondadas */
    cursor: pointer;
    /* Cursor de mão */
    text-align: center;
    /* Texto centralizado */
    display: inline-block;
    /* Permite o uso de margin e outros espaçamentos */
}

#contato button a {
    color: white;
    /* Texto branco */
    text-decoration: none;
    /* Sem sublinhado */
    display: block;
    /* Faz o link preencher todo o botão */
}

#contato button:hover {
    background-color: #0056b3;
    /* Cor mais escura ao passar o mouse */
}

#contato form {
    display: flex;
    flex-direction: column;
}

#contato form label {
    margin-bottom: 5px;
}

#contato form input {
    padding: 5px;
    margin-bottom: 10px;
}

#contato form textarea {
    padding: 5px;
    margin-bottom: 10px;
}


/* Estilização do rodapé - index */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 5px;
    position: relative;
}